@model IEnumerable<MVC_Client.Models.LOAN_DETAILS>

@{
    ViewBag.Title = "IndexLoanDetails";
}

<h2>Loan Details</h2>

<p>
</p>
<table class="table table-striped table-hover">
    <tr class="info">
        <th>
            Loan Account Number
        </th>
        <th>
            Loan Amount
        </th>
        <th>
            Customer ID
        </th>
        <th>
            Loan Type
        </th>
        <th>
            Loan Approval Date
        </th>
        <th>
            Dispersal Date
        </th>
        <th>
            Intrest Rate
        </th>
        <th>
            Tenure
        </th>
        <th>
            Emi Start Date
        </th>
        <th>
            Emi End Date
        </th>
        <th>
            Emi Amount
        </th>
        <th>
            Credit Limit
        </th>
        <th>
            Last Updated Credit Limit
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LOAN_ACC_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAN_AMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUSTOMER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAN_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAN_APPROVED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DISPERSAL_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INTEREST_RATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENURE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMI_START_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMI_END_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMI_AMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREDIT_LIMIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_UPDATED_CREDIT_DATE)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
<div>
    <a href="@Url.Action("IndexEmployeeOperations", "EmployeeOperations")" class="btn btn-primary">Back</a>

</div>

